.btnOfertas {
 background-color: var(--primary-green);
  color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);

  /* Padding y Flexbox para centrar contenido */
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  /* Transiciones y cursor */
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, transform 0.2s, border 0.2s;
}

.btnOfertas.hover {
  background-color: var(--primary-green-light);
  border: 5px solid;
  border-color: var(--primary-green-dark);
  top: 110px;
}

.btnOfertas.on-click {
  background-color: var(--accent);
  border: 5px solid;
  border-color: var(--primary-green);
  top: 200px;
}

.label {
  align-items: center;
  color: var(--accent);
  display: flex;
  font-family: "Preahvihear-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.hover .label {
  color: var(--primary-green);
  margin-top: -5.00px;
}

.on-click .label {
  color: var(--textprimary);
  margin-top: -5.00px;
}