.btnSecondary {
  background-color: var(--accent);
  border: 2px solid var(--primary-green-dark);
  border-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);

  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
  /* Transiciones y cursor */
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.btnSecondary:hover {
  background-color: var(--primary-green);
  border-color: var(--primary-green-light);
  border: 2px solid;
  color: var(--bordersbackground);
}

.btnSecondary:active {
  background-color: var(--primary-green-light);
  border-color: var(--primary-green);
  color: var(--textprimary);
}

.label { font-family: "Preahvihear", Helvetica; font-size: 16px; font-weight: 400; }

@media (min-width: 768px) {
  .btnSecondary { padding: 12px 20px; }
}