.frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 576px;
  position: relative;
  width: 1223px;
}

.title {
  align-items: center;
  align-self: stretch;
  color: #000000;
  display: flex;
  font-family: "Preahvihear-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.chatContainer {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--accent);
  display: flex;
  flex-direction: column;
  height: 511px;
  margin-bottom: -17.00px;
  position: relative;
  width: 100%;
}

.chatItem {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  min-height: 72px;
  position: relative;
  width: 100%;
}

.buildingBlocks {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.chatContent {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 16px;
  height: 72px;
  justify-content: center;
  padding: 8px 16px;
  position: relative;
  width: 100%;
}

.iconWrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
}

.personIcon {
  height: 24px;
  position: relative;
  width: 24px;
}

.textContent {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  position: relative;
}

.username {
  align-items: center;
  align-self: stretch;
  color: var(--textprimary);
  display: flex;
  font-family: var(--m3-body-large-font-family);
  font-size: var(--m3-body-large-font-size);
  font-style: var(--m3-body-large-font-style);
  font-weight: var(--m3-body-large-font-weight);
  justify-content: center;
  letter-spacing: var(--m3-body-large-letter-spacing);
  line-height: var(--m3-body-large-line-height);
  position: relative;
}

.supportingText {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  color: var(--textsecondary);
  display: -webkit-box;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 20px;
  letter-spacing: 0.25px;
  line-height: 20px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.messageTime {
  color: var(--textsecondary);
  font-family: var(--m3-label-small-font-family);
  font-size: var(--m3-label-small-font-size);
  font-style: var(--m3-label-small-font-style);
  font-weight: var(--m3-label-small-font-weight);
  letter-spacing: var(--m3-label-small-letter-spacing);
  line-height: var(--m3-label-small-line-height);
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.divider {
  align-self: stretch;
  flex: 0 0 auto;
  left: unset;
  top: unset;
  width: 100%;
}