.btnLink {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: auto;
  height: auto;
}

.label {
  align-items: center;
  display: inline-flex;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.2;
  text-align: left;
  white-space: nowrap;
  color: var(--textlink-blue-text);
  transition: color 0.2s ease;
}

.hover .label {
  color: var(--textlink-blue-text-light);
}