.bgTemplate {
  background-color: var(--bordersbackground);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 16px;
}

@media (min-width: 900px) {
  .content {
    padding: 24px;
  }
}

.fab {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 50;
}