.filterBar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.selectInput,
.searchInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%; /* Full width on mobile */
}

@media (min-width: 768px) {
  .filterBar {
    flex-direction: row;
  }

  .selectInput {
    flex: 1;
  }

  .searchInput {
    flex: 2;
  }
}